@model List<int>
@using System.Security.Claims
 

<div class="row text-center pt-5 border-top">
    <div class="col-md-12">
        <div class="custom-pagination">

            @{var sayfasayisi = Math.Ceiling((double)@Model[0] / Model[2]); }
            @for (int i = 1; i < sayfasayisi + 1; i++)
            {
                if (Model[1] == i)
                {
                    <span>@i</span>
                }
                else
                {
                    if (Model[3] == 1)
                    {
                        <a asp-action="HomePage" asp-controller="Home" asp-route-page=@i>@i</a>
                    }
                    else if (Model[3] == 3)
                    {
                        <a asp-action="UserProfil" asp-controller="User" 
                           asp-route-id=@Int32.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value)
                           asp-route-page="@i">@i</a>
                    }

                }
            }

        </div>
    </div>
</div>
